<div id="home">

    <button id="connect_button" class="ms-Button" onclick="window.location.href='login'">Login with Microsoft account</button>
    <div id="homepage_bot">
        
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
